body {
    background-image: url('http://www.atlanticmedia.co/pages/backgrounds/background_home.jpg');
    /*
    padding-left: 11em;
    padding-right: 20em;
    font-family:
            Georgia, "Times New Roman",
            Times, serif;
    color: red;
    */
}

body>header {
    background: #0047b3;
    /*background: #eee;*/
    padding: 5px;
}

body>header>a>img, body>header a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>header a {
    text-decoration: none;
    color:white;
}

body>header a.menu:hover {
    background: darkorange;
    color:black;
}

body>header>a>img {
    height:150px;
}

body>footer {
    background: #0047b3;
    /*background: #eee;*/
    color:white;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

body>section {
    margin:5px;
    padding:10px;
    background:#0047b3;
    color:white;
}

body>section>article {
    margin:10px;
    padding:20px;
    background:white;
    color:black;
}

#logged-in-info {
    float: right;
    /*margin-top: 18px;*/
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

