body {
    background-image: url('http://www.atlanticmedia.co/pages/backgrounds/background_home.jpg');
    color:white;
    /*
    padding-left: 11em;
    padding-right: 20em;
    font-family:
            Georgia, "Times New Roman",
            Times, serif;
    color: red;
    */
}

body>header {
    background-color:rgba(0, 0, 0, 0.7);
    /*background: #eee;*/
    padding: 5px;
}

body>header>a>img, body>header a {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>header a {
    text-decoration: none;
    color:white;
}

body>header a.menu:hover {
    background: darkorange;
    color:black;
}

body>header>a>img {
    height:150px;
}

body>footer {
    background-color:rgba(0, 0, 0, 0.7);
    /*background: #eee;*/
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    clear: both;
}


.latestContent {
    margin:5px;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.3);
    box-sizing:border-box;

    /*margin:0 auto;*/
}

#latest-bets {
    float: left;
}

#latest-predictions {
    float: left;
}

.latest-content-info {
    margin:10px;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.5);
}

.latest-content-info:hover {

    background-color:rgba(0, 0, 0, 0.7);
    font-weight: bold;

}



#logged-in-info {
    float: right;
    /*margin-top: 18px;*/
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

